# Lesson 3 - Rossmann, understand input data

https://www.kaggle.com/c/rossmann-store-sales

In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
from IPython.display import display

In [3]:
from fastai.structured import *
from fastai.column_data import *
np.set_printoptions(threshold=50, edgeitems=20)

PATH='data/rossmann/'
PATH_O='data/rossmann/original/'
PATH_A='data/rossmann/additional/'

/home/paperspace/anaconda3/envs/fastai/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [4]:
# ITSMY:
# Checking some things

print(pd.__version__)
print(torch.cuda.is_available())
print(torch.backends.cudnn.enabled)

0.23.4
True
True

In addition to the provided data, we will be using external datasets put together by participants in the Kaggle competition. You can download all of them [here](http://files.fast.ai/part2/lesson14/rossmann.tgz).

# Look at Original Files

In [5]:
!ls {PATH_O}

sample_submission.csv	   store.csv	  test.csv	train.csv
sample_submission.csv.zip  store.csv.zip  test.csv.zip	train.csv.zip

In [6]:
table_names = ['train', 'store', 'test', 'sample_submission']

## `train.csv`

In [7]:
train = pd.read_csv(f'{PATH_O}{table_names[0]}.csv', low_memory=False)

In [8]:
print(type(train))
print(train.shape)

<class 'pandas.core.frame.DataFrame'>
(1017209, 9)

In [9]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [10]:
DataFrameSummary(train).summary()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
count,1.01721e+06,1.01721e+06,NaN,1.01721e+06,1.01721e+06,1.01721e+06,1.01721e+06,NaN,1.01721e+06
mean,558.43,3.99834,NaN,5773.82,633.146,0.830107,0.381515,NaN,0.178647
std,321.909,1.99739,NaN,3849.93,464.412,0.375539,0.485759,NaN,0.383056
min,1,1,NaN,0,0,0,0,NaN,0
25%,280,2,NaN,3727,405,1,0,NaN,0
50%,558,4,NaN,5744,609,1,0,NaN,0
75%,838,6,NaN,7856,837,1,1,NaN,0
max,1115,7,NaN,41551,7388,1,1,NaN,1
counts,1017209,1017209,1017209,1017209,1017209,1017209,1017209,1017209,1017209
uniques,1115,7,942,21734,4086,2,2,4,2
missing,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,numeric,numeric,categorical,numeric,numeric,bool,bool,categorical,bool

## `store.csv`

In [11]:
store = pd.read_csv(f'{PATH_O}{table_names[1]}.csv', low_memory=False)

In [12]:
print(type(store))
print(store.shape)

<class 'pandas.core.frame.DataFrame'>
(1115, 10)

In [13]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [14]:
DataFrameSummary(store).summary()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
count,1115,NaN,NaN,1112,761,761,1115,571,571,NaN
mean,558,NaN,NaN,5404.9,7.2247,2008.67,0.512108,23.5954,2011.76,NaN
std,322.017,NaN,NaN,7663.17,3.21235,6.19598,0.500078,14.142,1.67494,NaN
min,1,NaN,NaN,20,1,1900,0,1,2009,NaN
25%,279.5,NaN,NaN,717.5,4,2006,0,13,2011,NaN
50%,558,NaN,NaN,2325,8,2010,1,22,2012,NaN
75%,836.5,NaN,NaN,6882.5,10,2013,1,37,2013,NaN
max,1115,NaN,NaN,75860,12,2015,1,50,2015,NaN
counts,1115,1115,1115,1112,761,761,1115,571,571,571
uniques,1115,4,3,654,12,23,2,24,7,3
missing,0,0,0,3,354,354,0,544,544,544
missing_perc,0%,0%,0%,0.27%,31.75%,31.75%,0%,48.79%,48.79%,48.79%
types,numeric,categorical,categorical,numeric,numeric,numeric,bool,numeric,numeric,categorical

## `test.csv`

In [15]:
test = pd.read_csv(f'{PATH_O}{table_names[2]}.csv', low_memory=False)

In [16]:
print(type(test))
print(test.shape)

<class 'pandas.core.frame.DataFrame'>
(41088, 8)

In [17]:
test.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [18]:
DataFrameSummary(test).summary()

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
count,41088,41088,41088,NaN,41077,41088,NaN,41088
mean,20544.5,555.9,3.97917,NaN,0.854322,0.395833,NaN,0.443487
std,11861.2,320.274,2.01548,NaN,0.352787,0.489035,NaN,0.496802
min,1,1,1,NaN,0,0,NaN,0
25%,10272.8,279.75,2,NaN,1,0,NaN,0
50%,20544.5,553.5,4,NaN,1,0,NaN,0
75%,30816.2,832.25,6,NaN,1,1,NaN,1
max,41088,1115,7,NaN,1,1,NaN,1
counts,41088,41088,41088,41088,41077,41088,41088,41088
uniques,41088,856,7,48,2,2,2,2
missing,0,0,0,0,11,0,0,0
missing_perc,0%,0%,0%,0%,0.03%,0%,0%,0%
types,numeric,numeric,numeric,categorical,bool,bool,bool,bool

## `sample_submission.csv`

In [19]:
sample_submission = pd.read_csv(f'{PATH_O}{table_names[3]}.csv', low_memory=False)

In [20]:
print(type(sample_submission))
print(sample_submission.shape)

<class 'pandas.core.frame.DataFrame'>
(41088, 2)

In [21]:
sample_submission.head()

   Id  Sales
0   1      0
1   2      0
2   3      0
3   4      0
4   5      0

In [22]:
DataFrameSummary(sample_submission).summary()

                   Id     Sales
count           41088     41088
mean          20544.5         0
std           11861.2         0
min                 1         0
25%           10272.8         0
50%           20544.5         0
75%           30816.2         0
max             41088         0
counts          41088     41088
uniques         41088         1
missing             0         0
missing_perc       0%        0%
types         numeric  constant

## Conclusion

### Training Date Range

In [23]:
train.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday'],
      dtype='object')

In [24]:
train['Date'] = pd.to_datetime(train.Date)

In [25]:
pd.unique(train['Date']).shape

(942,)

In [26]:
unique_dates = sorted(pd.unique(train['Date']))

In [27]:
print(unique_dates[0])
print(unique_dates[-1])

2013-01-01T00:00:00.000000000
2015-07-31T00:00:00.000000000

### Testing Date Range

In [28]:
test.columns

Index(['Id', 'Store', 'DayOfWeek', 'Date', 'Open', 'Promo', 'StateHoliday',
       'SchoolHoliday'],
      dtype='object')

In [29]:
test['Date'] = pd.to_datetime(test.Date)

In [30]:
print(pd.unique(test['Date']).shape)
print(pd.unique(test['Date']).shape[0] / 7)

(48,)
6.857142857142857

In [31]:
unique_testing_dates = sorted(pd.unique(test['Date']))

In [32]:
print(unique_testing_dates[0])
print(unique_testing_dates[-1])

2015-08-01T00:00:00.000000000
2015-09-17T00:00:00.000000000

# Additional Data

In [33]:
!ls {PATH_A}

googletrend.csv  state_names.csv  store_states.csv  weather.csv

In [34]:
additionsl_table_names = ['googletrend', 'state_names', 'store_states', 'weather']

## `googletrend.csv`

In [35]:
googletrend = pd.read_csv(f'{PATH_A}{additionsl_table_names[0]}.csv', low_memory=False)

In [36]:
print(type(googletrend))
print(googletrend.shape)

<class 'pandas.core.frame.DataFrame'>
(2072, 3)

In [37]:
googletrend.head()

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

In [38]:
DataFrameSummary(googletrend).summary()

                     file         week    trend
count                 NaN          NaN     2072
mean                  NaN          NaN  63.8142
std                   NaN          NaN  12.6502
min                   NaN          NaN        0
25%                   NaN          NaN       55
50%                   NaN          NaN       64
75%                   NaN          NaN       72
max                   NaN          NaN      100
counts               2072         2072     2072
uniques                14          148       68
missing                 0            0        0
missing_perc           0%           0%       0%
types         categorical  categorical  numeric

In [39]:
pd.unique(googletrend.file)

array(['Rossmann_DE_SN', 'Rossmann_DE', 'Rossmann_DE_BY', 'Rossmann_DE_TH', 'Rossmann_DE_NW',
       'Rossmann_DE_BE', 'Rossmann_DE_RP', 'Rossmann_DE_BW', 'Rossmann_DE_NI', 'Rossmann_DE_SH',
       'Rossmann_DE_HE', 'Rossmann_DE_ST', 'Rossmann_DE_HH', 'Rossmann_DE_SL'], dtype=object)

## `state_names.csv`

In [40]:
state_names = pd.read_csv(f'{PATH_A}{additionsl_table_names[1]}.csv', low_memory=False)

In [41]:
print(type(state_names))
print(state_names.shape)

<class 'pandas.core.frame.DataFrame'>
(16, 2)

In [42]:
state_names

                StateName  State
0       BadenWuerttemberg     BW
1                  Bayern     BY
2                  Berlin     BE
3             Brandenburg     BB
4                  Bremen     HB
5                 Hamburg     HH
6                  Hessen     HE
7   MecklenburgVorpommern     MV
8           Niedersachsen  HB,NI
9      NordrheinWestfalen     NW
10         RheinlandPfalz     RP
11               Saarland     SL
12                Sachsen     SN
13          SachsenAnhalt     ST
14      SchleswigHolstein     SH
15             Thueringen     TH

In [43]:
DataFrameSummary(state_names).summary()

             StateName   State
count               16      16
unique              16      16
top           Saarland      SH
freq                 1       1
counts              16      16
uniques             16      16
missing              0       0
missing_perc        0%      0%
types           unique  unique

## `store_states.csv`

In [44]:
store_states = pd.read_csv(f'{PATH_A}{additionsl_table_names[2]}.csv', low_memory=False)

In [45]:
print(type(store_states))
print(store_states.shape)

<class 'pandas.core.frame.DataFrame'>
(1115, 2)

In [46]:
store_states.head()

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

In [47]:
DataFrameSummary(store_states).summary()

                Store        State
count            1115          NaN
mean              558          NaN
std           322.017          NaN
min                 1          NaN
25%             279.5          NaN
50%               558          NaN
75%             836.5          NaN
max              1115          NaN
counts           1115         1115
uniques          1115           12
missing             0            0
missing_perc       0%           0%
types         numeric  categorical

## `weather.csv`

In [48]:
weather = pd.read_csv(f'{PATH_A}{additionsl_table_names[3]}.csv', low_memory=False)

In [49]:
print(type(weather))
print(weather.shape)

<class 'pandas.core.frame.DataFrame'>
(15840, 24)

In [50]:
weather.head()

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,NaN,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,NaN,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,NaN,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,NaN,0.00,7.0,Rain,268

In [51]:
DataFrameSummary(weather).summary()

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
count,NaN,NaN,15840,15840,15840,15840,15840,15840,15840,15840,...,15459,15459,15459,15840,15840,3604,15840,14667,NaN,15840
mean,NaN,NaN,14.6441,10.389,6.19899,8.58782,6.20581,3.62614,93.6596,74.2829,...,24.0576,12.2398,7.02516,22.7666,11.9722,48.8643,0.831718,5.55131,NaN,175.897
std,NaN,NaN,8.64601,7.37926,6.52639,6.24478,6.08677,6.12839,7.67853,13.4866,...,8.9768,5.06794,4.9806,8.98862,5.87284,13.027,2.51351,1.68771,NaN,101.589
min,NaN,NaN,-11,-13,-15,-14,-15,-73,44,30,...,0,0,0,3,2,21,0,0,NaN,-1
25%,NaN,NaN,8,4,1,4,2,-1,90.75,65,...,14,10,3,16,8,39,0,5,NaN,80
50%,NaN,NaN,15,11,7,9,7,4,94,76,...,31,11,7,21,11,48,0,6,NaN,202
75%,NaN,NaN,21,16,11,13,11,8,100,85,...,31,14,10,27,14,55,0.25,7,NaN,256
max,NaN,NaN,39,31,24,25,20,19,100,100,...,31,31,31,101,53,111,58.93,8,NaN,360
counts,15840,15840,15840,15840,15840,15840,15840,15840,15840,15840,...,15459,15459,15459,15840,15840,3604,15840,14667,11889,15840
uniques,16,990,51,45,40,40,36,40,53,71,...,24,32,24,44,29,47,41,9,21,362
missing,0,0,0,0,0,0,0,0,0,0,...,381,381,381,0,0,12236,0,1173,3951,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,...,2.41%,2.41%,2.41%,0%,0%,77.25%,0%,7.41%,24.94%,0%
types,categorical,categorical,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,...,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,categorical,numeric

In [52]:
for c in weather.columns:
    print(c)

file
Date
Max_TemperatureC
Mean_TemperatureC
Min_TemperatureC
Dew_PointC
MeanDew_PointC
Min_DewpointC
Max_Humidity
Mean_Humidity
Min_Humidity
Max_Sea_Level_PressurehPa
Mean_Sea_Level_PressurehPa
Min_Sea_Level_PressurehPa
Max_VisibilityKm
Mean_VisibilityKm
Min_VisibilitykM
Max_Wind_SpeedKm_h
Mean_Wind_SpeedKm_h
Max_Gust_SpeedKm_h
Precipitationmm
CloudCover
Events
WindDirDegrees

# Data Cleaning / Feature Engineering

## Read into variables

As a structured data problem, we necessarily have to go through all the cleaning and feature engineering, even though we're using a neural network.

In [53]:
table_names = ['train', 'store', 'store_states', 'state_names', 
               'googletrend', 'weather', 'test']

tables = [pd.read_csv(f'{PATH}{fname}.csv', low_memory=False) for fname in table_names]

train, store, store_states, state_names, googletrend, weather, test = tables

print((len(train), len(test)))

(1017209, 41088)

## Convert StateHoliday to booleans

We turn state Holidays to booleans, to make them more convenient for modeling. We can do calculations on pandas fields using notation very similar (often identical) to numpy.

In [54]:
print(DataFrameSummary(train).summary().StateHoliday.types)
print(DataFrameSummary(test).summary().StateHoliday.types)

categorical
bool

In [55]:
train.StateHoliday = train.StateHoliday!='0'
test.StateHoliday = test.StateHoliday!='0'

In [56]:
print(DataFrameSummary(train).summary().StateHoliday.types)
print(DataFrameSummary(test).summary().StateHoliday.types)

bool
bool

## Join Weather and State

`join_df` is a function for joining tables on specific fields. By default, we'll be doing a left outer join of `right` on the `left` argument using the given fields for each table.

Pandas does joins using the `merge` method. The `suffixes` argument describes the naming convention for duplicate fields. We've elected to leave the duplicate field names on the left untouched, and append a "\_y" to those on the right.

In [57]:
def join_df(left, right, left_on, right_on=None, suffix='_y'):
    if right_on is None:
        right_on = left_on

    return left.merge(right, how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", suffix))

In [58]:
# Small Example to see how does join_df work

a = {'City Name': ['Tomsk', 'Omsk', 'Moscow'],
     'Value1': [1, 2, 3]}

b = {'Cities': ['Moscow', 'Tomsk', 'Omsk'],
     'Value2': ['q', 'w', 'e']}

a_df = pd.DataFrame(a)
b_df = pd.DataFrame(b)
c_df = join_df(a_df, b_df, "City Name", "Cities")

for t in [a_df, b_df, c_df]:
    display(t)

  City Name  Value1
0     Tomsk       1
1      Omsk       2
2    Moscow       3

   Cities Value2
0  Moscow      q
1   Tomsk      w
2    Omsk      e

  City Name  Value1  Cities Value2
0     Tomsk       1   Tomsk      w
1      Omsk       2    Omsk      e
2    Moscow       3  Moscow      q

Join weather/state names.

In [59]:
weather = join_df(weather, state_names, "file", "StateName")

In [60]:
weather.head()

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees,StateName,State
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,4.0,39,26,58.0,5.08,6.0,Rain,215,NordrheinWestfalen,NW
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,10.0,24,16,NaN,0.00,6.0,Rain,225,NordrheinWestfalen,NW
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,2.0,26,21,NaN,1.02,7.0,Rain,240,NordrheinWestfalen,NW
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,2.0,23,14,NaN,0.25,7.0,Rain,263,NordrheinWestfalen,NW
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,3.0,16,10,NaN,0.00,7.0,Rain,268,NordrheinWestfalen,NW

## Google Thrends Add Date and State

In pandas you can add new columns to a dataframe by simply defining it.

We'll do this for googletrends by extracting dates and state names from the given data and adding those columns.

We're also going to replace all instances of state name 'NI' to match the usage in the rest of the data: 'HB,NI'. This is a good opportunity to highlight pandas indexing.

We can use .loc[rows, cols] to select a list of rows and a list of columns from the dataframe. In this case, we're selecting rows w/ statename 'NI' by using a boolean list googletrend.State=='NI' and selecting "State".

In [61]:
googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]
googletrend.head()

             file                     week  trend        Date
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96  2012-12-02
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95  2012-12-09
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91  2012-12-16
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48  2012-12-23
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67  2012-12-30

In [62]:
googletrend['State'] = googletrend.file.str.split('_', expand=True)[2]
googletrend.head()

             file                     week  trend        Date State
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96  2012-12-02    SN
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95  2012-12-09    SN
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91  2012-12-16    SN
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48  2012-12-23    SN
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67  2012-12-30    SN

In [63]:
googletrend.loc[googletrend.State=='NI', "State"] = 'HB,NI'
googletrend.head()

             file                     week  trend        Date State
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96  2012-12-02    SN
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95  2012-12-09    SN
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91  2012-12-16    SN
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48  2012-12-23    SN
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67  2012-12-30    SN

In [64]:
googletrend.loc[googletrend.State=='HB,NI', "State"].head()

1184    HB,NI
1185    HB,NI
1186    HB,NI
1187    HB,NI
1188    HB,NI
Name: State, dtype: object

## Additional Date and Time Fiels

The following extracts particular date fields from a complete datetime for the purpose of constructing categoricals.
You should always consider this feature extraction step when working with date-time. Without expanding your date-time into these additional fields, you can't capture any trend/cyclical behavior as a function of time at any of these granularities. We'll add to every table with a date field.

The `add_datepart` function will add
+ Year
+ Month
+ Week
+ Day
+ Dayofweek
+ Dayofyear
+ Is_month_end
+ Is_month_start
+ Is_quarter_end
+ Is_quarter_start
+ Is_year_end
+ Is_year_start
+ Elapsed

In [65]:
add_datepart(weather, "Date", drop=False)
add_datepart(googletrend, "Date", drop=False)
add_datepart(train, "Date", drop=False)
add_datepart(test, "Date", drop=False)

In [66]:
for t in [weather, googletrend, train, test]:
    display(t.head())

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,1,1,1,False,True,False,True,False,True,1356998400
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,2,2,2,False,False,False,False,False,False,1357084800
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,3,3,3,False,False,False,False,False,False,1357171200
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,4,4,4,False,False,False,False,False,False,1357257600
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,5,5,5,False,False,False,False,False,False,1357344000

,file,week,trend,Date,State,Year,Month,Week,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,Rossmann_DE_SN,2012-12-02 - 2012-12-08,96,2012-12-02,SN,2012,12,48,2,6,337,False,False,False,False,False,False,1354406400
1,Rossmann_DE_SN,2012-12-09 - 2012-12-15,95,2012-12-09,SN,2012,12,49,9,6,344,False,False,False,False,False,False,1355011200
2,Rossmann_DE_SN,2012-12-16 - 2012-12-22,91,2012-12-16,SN,2012,12,50,16,6,351,False,False,False,False,False,False,1355616000
3,Rossmann_DE_SN,2012-12-23 - 2012-12-29,48,2012-12-23,SN,2012,12,51,23,6,358,False,False,False,False,False,False,1356220800
4,Rossmann_DE_SN,2012-12-30 - 2013-01-05,67,2012-12-30,SN,2012,12,52,30,6,365,False,False,False,False,False,False,1356825600

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,1,5,2015-07-31,5263,555,1,1,False,1,2015,...,31,4,212,True,False,False,False,False,False,1438300800
1,2,5,2015-07-31,6064,625,1,1,False,1,2015,...,31,4,212,True,False,False,False,False,False,1438300800
2,3,5,2015-07-31,8314,821,1,1,False,1,2015,...,31,4,212,True,False,False,False,False,False,1438300800
3,4,5,2015-07-31,13995,1498,1,1,False,1,2015,...,31,4,212,True,False,False,False,False,False,1438300800
4,5,5,2015-07-31,4822,559,1,1,False,1,2015,...,31,4,212,True,False,False,False,False,False,1438300800

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,1,1,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
1,2,3,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
2,3,7,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
3,4,8,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
4,5,9,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000

## Google Thrends for Whole Germany

The Google trends data has a special category for the whole of the Germany - we'll pull that out so we can use it explicitly.

In [67]:
trend_de = googletrend[googletrend.file == 'Rossmann_DE']
trend_de.head()

,file,week,trend,Date,State,Year,Month,Week,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
148,Rossmann_DE,2012-12-02 - 2012-12-08,77,2012-12-02,None,2012,12,48,2,6,337,False,False,False,False,False,False,1354406400
149,Rossmann_DE,2012-12-09 - 2012-12-15,76,2012-12-09,None,2012,12,49,9,6,344,False,False,False,False,False,False,1355011200
150,Rossmann_DE,2012-12-16 - 2012-12-22,85,2012-12-16,None,2012,12,50,16,6,351,False,False,False,False,False,False,1355616000
151,Rossmann_DE,2012-12-23 - 2012-12-29,59,2012-12-23,None,2012,12,51,23,6,358,False,False,False,False,False,False,1356220800
152,Rossmann_DE,2012-12-30 - 2013-01-05,61,2012-12-30,None,2012,12,52,30,6,365,False,False,False,False,False,False,1356825600

## Join All

Now we can outer join all of our data into a single dataframe. Recall that in outer joins everytime a value in the joining field on the left table does not have a corresponding value on the right table, the corresponding row in the new table has Null values for all right table fields. One way to check that all records are consistent and complete is to check for Null values post-join, as we do here.

Aside: Why note just do an inner join? If you are assuming that all records are complete and match on the field you desire, an inner join will do the same thing as an outer join. However, in the event you are wrong or a mistake is made, an outer join followed by a null-check will catch it. (Comparing before/after # of rows for inner join is equivalent, but requires keeping track of before/after row #'s. Outer join is easier.)

### store and stores_states

In [68]:
display(store.shape)
display(store.head())

(1115, 10)

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [69]:
store = join_df(store, store_states, "Store")
len(store[store.State.isnull()])

0

In [70]:
display(store.shape)
display(store.head())

(1115, 11)

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,State
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,HE
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",TH
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NW
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN,BE
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN,SN

In [71]:
DataFrameSummary(store).summary()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,State
count,1115,NaN,NaN,1112,761,761,1115,571,571,NaN,NaN
mean,558,NaN,NaN,5404.9,7.2247,2008.67,0.512108,23.5954,2011.76,NaN,NaN
std,322.017,NaN,NaN,7663.17,3.21235,6.19598,0.500078,14.142,1.67494,NaN,NaN
min,1,NaN,NaN,20,1,1900,0,1,2009,NaN,NaN
25%,279.5,NaN,NaN,717.5,4,2006,0,13,2011,NaN,NaN
50%,558,NaN,NaN,2325,8,2010,1,22,2012,NaN,NaN
75%,836.5,NaN,NaN,6882.5,10,2013,1,37,2013,NaN,NaN
max,1115,NaN,NaN,75860,12,2015,1,50,2015,NaN,NaN
counts,1115,1115,1115,1112,761,761,1115,571,571,571,1115
uniques,1115,4,3,654,12,23,2,24,7,3,12
missing,0,0,0,3,354,354,0,544,544,544,0
missing_perc,0%,0%,0%,0.27%,31.75%,31.75%,0%,48.79%,48.79%,48.79%,0%
types,numeric,categorical,categorical,numeric,numeric,numeric,bool,numeric,numeric,categorical,categorical

### test and train

**1) add columns from `store` table**

In [72]:
joined = join_df(train, store, "Store")
joined_test = join_df(test, store, "Store")

len(joined[joined.StoreType.isnull()]), len(joined_test[joined_test.StoreType.isnull()])

(0, 0)

**2) add columns from `googletrend` table**

In [73]:
joined = join_df(joined, googletrend, ["State","Year", "Week"])
joined_test = join_df(joined_test, googletrend, ["State","Year", "Week"])

len(joined[joined.trend.isnull()]), len(joined_test[joined_test.trend.isnull()])

(0, 0)

**3) add columns from `trend_de` table**

In [74]:
print(joined.shape)
print(joined.columns)

(1017209, 47)
Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'Dayofweek', 'Dayofyear', 'Is_month_end', 'Is_month_start',
       'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start',
       'Elapsed', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
       'week', 'trend', 'Date_y', 'Month_y', 'Day_y', 'Dayofweek_y',
       'Dayofyear_y', 'Is_month_end_y', 'Is_month_start_y', 'Is_quarter_end_y',
       'Is_quarter_start_y', 'Is_year_end_y', 'Is_year_start_y', 'Elapsed_y'],
      dtype='object')

In [75]:
print(joined_test.shape)
print(joined_test.columns)

(41088, 46)
Index(['Id', 'Store', 'DayOfWeek', 'Date', 'Open', 'Promo', 'StateHoliday',
       'SchoolHoliday', 'Year', 'Month', 'Week', 'Day', 'Dayofweek',
       'Dayofyear', 'Is_month_end', 'Is_month_start', 'Is_quarter_end',
       'Is_quarter_start', 'Is_year_end', 'Is_year_start', 'Elapsed',
       'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
       'week', 'trend', 'Date_y', 'Month_y', 'Day_y', 'Dayofweek_y',
       'Dayofyear_y', 'Is_month_end_y', 'Is_month_start_y', 'Is_quarter_end_y',
       'Is_quarter_start_y', 'Is_year_end_y', 'Is_year_start_y', 'Elapsed_y'],
      dtype='object')

In [76]:
joined = joined.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
joined_test = joined_test.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))

len(joined[joined.trend_DE.isnull()]), len(joined_test[joined_test.trend_DE.isnull()])

(0, 0)

In [77]:
print(joined.shape)
print(joined.columns)

(1017209, 63)
Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'Dayofweek', 'Dayofyear', 'Is_month_end', 'Is_month_start',
       'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start',
       'Elapsed', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
       'week', 'trend', 'Date_y', 'Month_y', 'Day_y', 'Dayofweek_y',
       'Dayofyear_y', 'Is_month_end_y', 'Is_month_start_y', 'Is_quarter_end_y',
       'Is_quarter_start_y', 'Is_year_end_y', 'Is_year_start_y', 'Elapsed_y',
       'file_DE', 'week_DE', 'trend_DE', 'Date_DE', 'State_DE', 'Month_DE',
       'Day_DE', 'Dayofweek_DE', 'Dayofyear_DE', 'Is_month_end_DE',
       'Is_month_start_DE', 'Is_quarter_end_DE', 'Is_quarter_start_DE',
       'Is_year_end_DE', 'Is_year_start_DE', 'Elapsed_DE'],
      dtype='object')

In [78]:
print(joined_test.shape)
print(joined_test.columns)

(41088, 62)
Index(['Id', 'Store', 'DayOfWeek', 'Date', 'Open', 'Promo', 'StateHoliday',
       'SchoolHoliday', 'Year', 'Month', 'Week', 'Day', 'Dayofweek',
       'Dayofyear', 'Is_month_end', 'Is_month_start', 'Is_quarter_end',
       'Is_quarter_start', 'Is_year_end', 'Is_year_start', 'Elapsed',
       'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
       'week', 'trend', 'Date_y', 'Month_y', 'Day_y', 'Dayofweek_y',
       'Dayofyear_y', 'Is_month_end_y', 'Is_month_start_y', 'Is_quarter_end_y',
       'Is_quarter_start_y', 'Is_year_end_y', 'Is_year_start_y', 'Elapsed_y',
       'file_DE', 'week_DE', 'trend_DE', 'Date_DE', 'State_DE', 'Month_DE',
       'Day_DE', 'Dayofweek_DE', 'Dayofyear_DE', 'Is_month_end_DE',
       'Is_month_start_DE', 'Is_quarter_end_DE', 'Is_quarter_start_DE',
       'Is_year_end_DE', 'Is_year_start_DE', 'Elapsed_DE'],
      dtype='object')

**4) add columns from `weather` table**

In [79]:
joined = join_df(joined, weather, ["State","Date"])
joined_test = join_df(joined_test, weather, ["State","Date"])

len(joined[joined.Mean_TemperatureC.isnull()]), len(joined_test[joined_test.Mean_TemperatureC.isnull()])

(0, 0)

In [80]:
print(joined.shape)
print(joined_test.shape)

(1017209, 100)
(41088, 99)

**5) to drop duplicated fields**

In [81]:
for df in (joined, joined_test):
    for c in df.columns:
        if c.endswith('_y'):
            if c in df.columns: df.drop(c, inplace=True, axis=1)

In [82]:
print(joined.shape)
print(joined.columns)

print(joined_test.shape)
print(joined_test.columns)

(1017209, 74)
Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'Dayofweek', 'Dayofyear', 'Is_month_end', 'Is_month_start',
       'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start',
       'Elapsed', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
       'week', 'trend', 'file_DE', 'week_DE', 'trend_DE', 'Date_DE',
       'State_DE', 'Month_DE', 'Day_DE', 'Dayofweek_DE', 'Dayofyear_DE',
       'Is_month_end_DE', 'Is_month_start_DE', 'Is_quarter_end_DE',
       'Is_quarter_start_DE', 'Is_year_end_DE', 'Is_year_start_DE',
       'Elapsed_DE', 'Max_TemperatureC', 'Mean_TemperatureC',
       'Min_TemperatureC', 'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC',
       'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Sea_Level_PressurehPa', 'Mean_Sea_Level_PressurehPa',
       'Min_Sea_Level_PressurehPa', 'Max_VisibilityKm', 'Mean_VisibilityKm',
       'Min_VisibilitykM', 'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h',
       'Max_Gust_SpeedKm_h', 'Precipitationmm', 'CloudCover', 'Events',
       'WindDirDegrees', 'StateName'],
      dtype='object')
(41088, 73)
Index(['Id', 'Store', 'DayOfWeek', 'Date', 'Open', 'Promo', 'StateHoliday',
       'SchoolHoliday', 'Year', 'Month', 'Week', 'Day', 'Dayofweek',
       'Dayofyear', 'Is_month_end', 'Is_month_start', 'Is_quarter_end',
       'Is_quarter_start', 'Is_year_end', 'Is_year_start', 'Elapsed',
       'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
       'week', 'trend', 'file_DE', 'week_DE', 'trend_DE', 'Date_DE',
       'State_DE', 'Month_DE', 'Day_DE', 'Dayofweek_DE', 'Dayofyear_DE',
       'Is_month_end_DE', 'Is_month_start_DE', 'Is_quarter_end_DE',
       'Is_quarter_start_DE', 'Is_year_end_DE', 'Is_year_start_DE',
       'Elapsed_DE', 'Max_TemperatureC', 'Mean_TemperatureC',
       'Min_TemperatureC', 'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC',
       'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Sea_Level_PressurehPa', 'Mean_Sea_Level_PressurehPa',
       'Min_Sea_Level_PressurehPa', 'Max_VisibilityKm', 'Mean_VisibilityKm',
       'Min_VisibilitykM', 'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h',
       'Max_Gust_SpeedKm_h', 'Precipitationmm', 'CloudCover', 'Events',
       'WindDirDegrees', 'StateName'],
      dtype='object')

## Fill Missing Values

Next we'll fill in missing values to avoid complications with `NA`'s. `NA` (not available) is how Pandas indicates missing values; many models have problems when missing values are present, so it's always important to think about how to deal with them. In these cases, we are picking an arbitrary *signal value* that doesn't otherwise appear in the data.

In [83]:
def missing_values():
    a = len(joined.CompetitionOpenSinceYear)
    b = len(joined[joined.CompetitionOpenSinceYear.isna()])
    c = len(joined_test.CompetitionOpenSinceYear)
    d = len(joined_test[joined_test.CompetitionOpenSinceYear.isna()])

    print('For the training data, all records = {}, with NA = {}, good = {}'.format(a, b, a-b))
    print('For the testing data, all records = {}, with NA = {}, good = {}'.format(c, d, c-d))
    
missing_values()

For the training data, all records = 1017209, with NA = 323348, good = 693861
For the testing data, all records = 41088, with NA = 15216, good = 25872

In [84]:
for df in (joined, joined_test):
    df['CompetitionOpenSinceYear'] = df.CompetitionOpenSinceYear.fillna(1900).astype(np.int32)
    df['CompetitionOpenSinceMonth'] = df.CompetitionOpenSinceMonth.fillna(1).astype(np.int32)
    df['Promo2SinceYear'] = df.Promo2SinceYear.fillna(1900).astype(np.int32)
    df['Promo2SinceWeek'] = df.Promo2SinceWeek.fillna(1).astype(np.int32)

## Extract Features Competition

Next we'll extract features "CompetitionOpenSince" and "CompetitionDaysOpen".

(Where? It did not use.) Note the use of `apply()` in mapping a function across dataframe values.

In [85]:
for df in (joined, joined_test):
    df["CompetitionOpenSince"] = pd.to_datetime(dict(year=df.CompetitionOpenSinceYear, 
                                                     month=df.CompetitionOpenSinceMonth, day=15))
    df["CompetitionDaysOpen"] = df.Date.subtract(df.CompetitionOpenSince).dt.days

In [86]:
joined.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'Dayofweek', 'Dayofyear', 'Is_month_end', 'Is_month_start',
       'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start',
       'Elapsed', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
       'week', 'trend', 'file_DE', 'week_DE', 'trend_DE', 'Date_DE',
       'State_DE', 'Month_DE', 'Day_DE', 'Dayofweek_DE', 'Dayofyear_DE',
       'Is_month_end_DE', 'Is_month_start_DE', 'Is_quarter_end_DE',
       'Is_quarter_start_DE', 'Is_year_end_DE', 'Is_year_start_DE',
       'Elapsed_DE', 'Max_TemperatureC', 'Mean_TemperatureC',
       'Min_TemperatureC', 'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC',
       'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Sea_Level_PressurehPa', 'Mean_Sea_Level_PressurehPa',
       'Min_Sea_Level_PressurehPa', 'Max_VisibilityKm', 'Mean_VisibilityKm',
       'Min_VisibilitykM', 'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h',
       'Max_Gust_SpeedKm_h', 'Precipitationmm', 'CloudCover', 'Events',
       'WindDirDegrees', 'StateName', 'CompetitionOpenSince',
       'CompetitionDaysOpen'],
      dtype='object')

## Replace Some Erroneous / Outlying Data

We'll replace some erroneous / outlying data.

In [87]:
print(len(df.loc[df.CompetitionDaysOpen<0, "CompetitionDaysOpen"]))
print(len(df.loc[df.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"]))

28
15312

In [88]:
for df in (joined, joined_test):
    df.loc[df.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
    df.loc[df.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"] = 0

## CompetitionMonthsOpen

We add "CompetitionMonthsOpen" field, limiting the maximum to 2 years to limit number of unique categories.

In [89]:
for df in (joined, joined_test):
    df["CompetitionMonthsOpen"] = df["CompetitionDaysOpen"] // 30
    df.loc[df.CompetitionMonthsOpen>24, "CompetitionMonthsOpen"] = 24
    
sorted(joined.CompetitionMonthsOpen.unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

## Promo Dates

Same process for Promo dates.

Next we'll extract features "Promo2Since" and "Promo2Days".

In [90]:
for df in (joined, joined_test):
    df["Promo2Since"] = pd.to_datetime(df.apply(lambda x: Week(
        x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1).astype(pd.datetime))
    df["Promo2Days"] = df.Date.subtract(df["Promo2Since"]).dt.days

In [91]:
joined.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'Dayofweek', 'Dayofyear', 'Is_month_end', 'Is_month_start',
       'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start',
       'Elapsed', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
       'week', 'trend', 'file_DE', 'week_DE', 'trend_DE', 'Date_DE',
       'State_DE', 'Month_DE', 'Day_DE', 'Dayofweek_DE', 'Dayofyear_DE',
       'Is_month_end_DE', 'Is_month_start_DE', 'Is_quarter_end_DE',
       'Is_quarter_start_DE', 'Is_year_end_DE', 'Is_year_start_DE',
       'Elapsed_DE', 'Max_TemperatureC', 'Mean_TemperatureC',
       'Min_TemperatureC', 'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC',
       'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Sea_Level_PressurehPa', 'Mean_Sea_Level_PressurehPa',
       'Min_Sea_Level_PressurehPa', 'Max_VisibilityKm', 'Mean_VisibilityKm',
       'Min_VisibilitykM', 'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h',
       'Max_Gust_SpeedKm_h', 'Precipitationmm', 'CloudCover', 'Events',
       'WindDirDegrees', 'StateName', 'CompetitionOpenSince',
       'CompetitionDaysOpen', 'CompetitionMonthsOpen', 'Promo2Since',
       'Promo2Days'],
      dtype='object')

We'll replace some erroneous / outlying data, for Promo2Days, Promo2SinceYear columns and Promo2Weeks (`= 0`).

We add "Promo2Weeks" field, limiting the maximum to 25 weeks to limit number of unique categories.

In [92]:
for df in (joined,joined_test):
    df.loc[df.Promo2Days<0, "Promo2Days"] = 0
    df.loc[df.Promo2SinceYear<1990, "Promo2Days"] = 0
    df["Promo2Weeks"] = df["Promo2Days"]//7
    df.loc[df.Promo2Weeks<0, "Promo2Weeks"] = 0
    df.loc[df.Promo2Weeks>25, "Promo2Weeks"] = 25
    df.Promo2Weeks.unique()

## Save to Files

The feather-format library is not installed.

You can install via conda
`conda install feather-format -c conda-forge`

or via pip
`pip install -U feather-format`

In [93]:
joined.to_feather(f'{PATH}joined')
joined_test.to_feather(f'{PATH}joined_test')

In [94]:
!ls -lhF {PATH}

total 739M
drwxrwxr-x 2 paperspace paperspace 4.0K Jul 26 06:23 additional/
-rw-r--r-- 1 paperspace paperspace 109M Aug 23 03:18 df
-rw-rw-r-- 1 paperspace paperspace  85K Jan 10  2017 googletrend.csv
-rw-r--r-- 1 paperspace paperspace 561M Aug 23 05:58 joined
-rw-r--r-- 1 paperspace paperspace  23M Aug 23 05:58 joined_test
drwxrwxr-x 2 paperspace paperspace 4.0K Jul 26 02:13 models/
drwxrwxr-x 2 paperspace paperspace 4.0K Jul 26 04:27 original/
-rw-rw-r-- 1 paperspace paperspace 7.4M Apr 11  2017 rossmann.tgz
-rw-r--r-- 1 paperspace paperspace 311K Sep 29  2015 sample_submission.csv
-rw-rw-r-- 1 paperspace paperspace  265 Jan 10  2017 state_names.csv
-rw-r--r-- 1 paperspace paperspace  44K Sep 29  2015 store.csv
-rw-rw-r-- 1 paperspace paperspace 8.9K Jan  6  2017 store_states.csv
-rw-r--r-- 1 paperspace paperspace 1.4M Sep 29  2015 test.csv
drwxrwxr-x 2 paperspace paperspace 4.0K Jul 26 02:14 tmp/
-rw-r--r-- 1 paperspace paperspace  37M Sep 29  2015 train.csv
-rw-rw-r-- 1 paperspace paperspace 1.5M Jan 10  2017 weather.csv

# Durations for Train

It is common when working with time series data to extract data that explains relationships across rows as opposed to columns, e.g.:
* Running averages
* Time until next event
* Time since last event

This is often difficult to do with most table manipulation frameworks, since they are designed to work with relationships across columns. As such, we've created a class to handle this type of data.

We'll define a function `get_elapsed` for cumulative counting across a sorted dataframe. Given a particular field `fld` to monitor, this function will start tracking time since the last occurrence of that field. When the field is seen again, the counter is set to zero.

Upon initialization, this will result in datetime na's until the field is encountered. This is reset every time a new store is seen. We'll see how to use this shortly.

In [95]:
def get_elapsed(fld, pre):
    day1 = np.timedelta64(1, 'D')
    last_date = np.datetime64()
    last_store = 0
    res = []

    for s,v,d in zip(df.Store.values,df[fld].values, df.Date.values):
        if s != last_store:
            last_date = np.datetime64()
            last_store = s
        if v: last_date = d
        res.append(((d-last_date).astype('timedelta64[D]') / day1))
    df[pre+fld] = res

## SchoolHoliday

**We'll be applying this to a subset of columns:**

In [96]:
columns = ["Date", "Store", "Promo", "StateHoliday", "SchoolHoliday"]

In [97]:
df = train[columns]

In [98]:
# ITSMY:

print(df.shape)
print(type(df))
df.head()

(1017209, 5)
<class 'pandas.core.frame.DataFrame'>

        Date  Store  Promo  StateHoliday  SchoolHoliday
0 2015-07-31      1      1         False              1
1 2015-07-31      2      1         False              1
2 2015-07-31      3      1         False              1
3 2015-07-31      4      1         False              1
4 2015-07-31      5      1         False              1

In [99]:
# ITSMY:

print(train.shape)
print(type(train))
train.head()

(1017209, 22)
<class 'pandas.core.frame.DataFrame'>

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,1,5,2015-07-31,5263,555,1,1,False,1,2015,...,31,4,212,True,False,False,False,False,False,1438300800
1,2,5,2015-07-31,6064,625,1,1,False,1,2015,...,31,4,212,True,False,False,False,False,False,1438300800
2,3,5,2015-07-31,8314,821,1,1,False,1,2015,...,31,4,212,True,False,False,False,False,False,1438300800
3,4,5,2015-07-31,13995,1498,1,1,False,1,2015,...,31,4,212,True,False,False,False,False,False,1438300800
4,5,5,2015-07-31,4822,559,1,1,False,1,2015,...,31,4,212,True,False,False,False,False,False,1438300800

**Let's walk through an example.**

Say we're looking at School Holiday. We'll first sort by Store, then Date, and then call `add_elapsed('SchoolHoliday', 'After')`:
This will apply to each row with School Holiday:
* A applied to every row of the dataframe in order of store and date
* Will add to the dataframe the days since seeing a School Holiday
* If we sort in the other direction, this will count the days until another holiday.

In [100]:
fld = 'SchoolHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')

In [101]:
# ITSMY:

print(df.shape)
print(type(df))
display(df.head())
display(DataFrameSummary(df).summary())

(1017209, 6)
<class 'pandas.core.frame.DataFrame'>

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday
1016095,2013-01-01,1,0,True,1,0.0
1014980,2013-01-02,1,0,False,1,0.0
1013865,2013-01-03,1,0,False,1,0.0
1012750,2013-01-04,1,0,False,1,0.0
1011635,2013-01-05,1,0,False,1,0.0

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday
count,NaN,1.01721e+06,1.01721e+06,NaN,1.01721e+06,1.01721e+06
mean,NaN,558.43,0.381515,NaN,0.178647,23.3568
std,NaN,321.909,0.485759,NaN,0.383056,22.0293
min,NaN,1,0,NaN,0,0
25%,NaN,280,0,NaN,0,2
50%,NaN,558,0,NaN,0,19
75%,NaN,838,1,NaN,0,37
max,NaN,1115,1,NaN,1,107
counts,1017209,1017209,1017209,1017209,1017209,1017209
uniques,942,1115,2,2,2,108
missing,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%
types,date,numeric,bool,bool,bool,numeric

In [102]:
# ITSMY:

#display(df.head(100))

**If we sort in the other direction, this will count the days until another holiday.**

In [103]:
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [104]:
# ITSMY:

print(df.shape)
print(type(df))
display(df.head())
display(DataFrameSummary(df).summary())

(1017209, 7)
<class 'pandas.core.frame.DataFrame'>

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday
0,2015-07-31,1,1,False,1,0.0,0.0
1115,2015-07-30,1,1,False,1,0.0,0.0
2230,2015-07-29,1,1,False,1,0.0,0.0
3345,2015-07-28,1,1,False,1,0.0,0.0
4460,2015-07-27,1,1,False,1,0.0,0.0

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday
count,NaN,1.01721e+06,1.01721e+06,NaN,1.01721e+06,1.01721e+06,1.00713e+06
mean,NaN,558.43,0.381515,NaN,0.178647,23.3568,-23.6342
std,NaN,321.909,0.485759,NaN,0.383056,22.0293,23.1507
min,NaN,1,0,NaN,0,0,-194
25%,NaN,280,0,NaN,0,2,-37
50%,NaN,558,0,NaN,0,19,-19
75%,NaN,838,1,NaN,0,37,-2
max,NaN,1115,1,NaN,1,107,0
counts,1017209,1017209,1017209,1017209,1017209,1017209,1007129
uniques,942,1115,2,2,2,108,118
missing,0,0,0,0,0,0,10080
missing_perc,0%,0%,0%,0%,0%,0%,0.99%
types,date,numeric,bool,bool,bool,numeric,numeric

In [105]:
# ITSMY:

# display(df.head(100))

## StateHoliday and Promo

**We'll do this for two more fields.**

In [106]:
fld = 'StateHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [107]:
fld = 'Promo'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

## Set Null Values to 0

**We're going to set the active index to Date.**

In [108]:
df = df.set_index("Date")

In [109]:
# ITSMY:

#display(df.head())

**Then set null values from elapsed field calculations to 0.**

In [110]:
columns = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [111]:
# ITSMY:
      
def missing_durations():
    for date_type in ['Before', 'After']:
        for column in columns:
            col = date_type + column
            print('Column "{}" has {} NaN values'.format(col, len(df[df[col].isna()])))

# missing_durations()

In [112]:
for o in ['Before', 'After']:
    for p in columns:
        a = o+p
        df[a] = df[a].fillna(0).astype(int)

In [113]:
# ITSMY:

# missing_durations()

## Rolling

**Next we'll demonstrate window functions in pandas to calculate rolling quantities.**

Here we're sorting by date (`sort_index()`) and counting the number of events of interest (`sum()`) defined in `columns` in the following week (`rolling()`), grouped by Store (`groupby()`). We do the same in the opposite direction.

In [114]:
# ITSMY:
# Small example to see how Rolling funcions works

example_df = pd.DataFrame({'A': list(range(1, 10))})
# display(example_df)
# display(example_df.rolling(7, min_periods=1))
# display(example_df.rolling(7, min_periods=1).sum())

In [115]:
# ITSMY:
# Example to calculate each value from rolling by hand

def example_rolling(a, b):
    print(list(range(a, b+1)))
    print(sum(range(a, b+1)))
    
# example_rolling(8, 14)

In [116]:
bwd = df[['Store'] + columns].sort_index().groupby("Store").rolling(7, min_periods=1).sum()

In [117]:
bwd.head()

                  Store  SchoolHoliday  StateHoliday  Promo
Store Date
1     2013-01-01    1.0            1.0           1.0    0.0
      2013-01-02    2.0            2.0           1.0    0.0
      2013-01-03    3.0            3.0           1.0    0.0
      2013-01-04    4.0            4.0           1.0    0.0
      2013-01-05    5.0            5.0           1.0    0.0

In [118]:
fwd = df[['Store']+columns].sort_index(ascending=False
                                      ).groupby("Store").rolling(7, min_periods=1).sum()

In [119]:
fwd.head()

                  Store  SchoolHoliday  StateHoliday  Promo
Store Date
1     2015-07-31    1.0            1.0           0.0    1.0
      2015-07-30    2.0            2.0           0.0    2.0
      2015-07-29    3.0            3.0           0.0    3.0
      2015-07-28    4.0            4.0           0.0    4.0
      2015-07-27    5.0            5.0           0.0    5.0

Next we want to drop the Store indices grouped together in the window function.

Often in pandas, there is an option to do this in place. This is time and memory efficient when working with large datasets.

In [120]:
bwd.drop('Store',1,inplace=True)
bwd.reset_index(inplace=True)

In [121]:
# ITSMY:

bwd.head()

   Store       Date  SchoolHoliday  StateHoliday  Promo
0      1 2013-01-01            1.0           1.0    0.0
1      1 2013-01-02            2.0           1.0    0.0
2      1 2013-01-03            3.0           1.0    0.0
3      1 2013-01-04            4.0           1.0    0.0
4      1 2013-01-05            5.0           1.0    0.0

In [122]:
fwd.drop('Store',1,inplace=True)
fwd.reset_index(inplace=True)

In [123]:
df.reset_index(inplace=True)

## Merge Rolling to df

**Now we'll merge these values onto the df.**

In [124]:
df = df.merge(bwd, 'left', ['Date', 'Store'], suffixes=['', '_bw'])
df = df.merge(fwd, 'left', ['Date', 'Store'], suffixes=['', '_fw'])

In [125]:
# ITSMY:

df.head()

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_fw,Promo_fw
0,2015-07-31,1,1,False,1,0,0,57,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
1,2015-07-30,1,1,False,1,0,0,56,0,0,0,4.0,0.0,4.0,2.0,0.0,2.0
2,2015-07-29,1,1,False,1,0,0,55,0,0,0,3.0,0.0,3.0,3.0,0.0,3.0
3,2015-07-28,1,1,False,1,0,0,54,0,0,0,2.0,0.0,2.0,4.0,0.0,4.0
4,2015-07-27,1,1,False,1,0,0,53,0,0,0,1.0,0.0,1.0,5.0,0.0,5.0

In [126]:
df.drop(columns,1,inplace=True)

In [127]:
# ITSMY:

df.head()

,Date,Store,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_fw,Promo_fw
0,2015-07-31,1,0,0,57,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
1,2015-07-30,1,0,0,56,0,0,0,4.0,0.0,4.0,2.0,0.0,2.0
2,2015-07-29,1,0,0,55,0,0,0,3.0,0.0,3.0,3.0,0.0,3.0
3,2015-07-28,1,0,0,54,0,0,0,2.0,0.0,2.0,4.0,0.0,4.0
4,2015-07-27,1,0,0,53,0,0,0,1.0,0.0,1.0,5.0,0.0,5.0

## Save

It's usually a good idea to back up large tables of extracted / wrangled features before you join them onto another one, that way you can go back to it easily if you need to make changes to it.

In [128]:
df.to_feather(f'{PATH}df')

In [129]:
df = pd.read_feather(f'{PATH}df')

In [130]:
df = pd.read_feather(f'{PATH}df')

## Join

In [131]:
df.columns

Index(['Date', 'Store', 'AfterSchoolHoliday', 'BeforeSchoolHoliday',
       'AfterStateHoliday', 'BeforeStateHoliday', 'AfterPromo', 'BeforePromo',
       'SchoolHoliday_bw', 'StateHoliday_bw', 'Promo_bw', 'SchoolHoliday_fw',
       'StateHoliday_fw', 'Promo_fw'],
      dtype='object')

In [132]:
joined = join_df(joined, df, ['Store', 'Date'])

## Remove Zero Sales and Closed Stores

The authors also removed all instances where the store had zero sale / was closed. We speculate that this may have cost them a higher standing in the competition. One reason this may be the case is that a little exploratory data analysis reveals that there are often periods where stores are closed, typically for refurbishment. Before and after these periods, there are naturally spikes in sales that one might expect. By ommitting this data from their training, the authors gave up the ability to leverage information about these periods to predict this otherwise volatile behavior.

In [133]:
joined = joined[joined.Sales!=0]

## Save

We'll back this up as well.

In [134]:
joined.reset_index(inplace=True)
joined_test.reset_index(inplace=True)

In [135]:
joined.to_feather(f'{PATH}joined')
joined_test.to_feather(f'{PATH}joined_test')

# Create features

We now have our final set of engineered features.

While these steps were explicitly outlined in the paper, these are all fairly typical feature engineering steps for dealing with time series data and are practical in any similar setting.

In [136]:
joined = pd.read_feather(f'{PATH}joined')

In [137]:
display(joined.columns)
display(len(joined.columns))

Index(['index', 'Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open',
       'Promo', 'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week',
       'Day', 'Dayofweek', 'Dayofyear', 'Is_month_end', 'Is_month_start',
       'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start',
       'Elapsed', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
       'week', 'trend', 'file_DE', 'week_DE', 'trend_DE', 'Date_DE',
       'State_DE', 'Month_DE', 'Day_DE', 'Dayofweek_DE', 'Dayofyear_DE',
       'Is_month_end_DE', 'Is_month_start_DE', 'Is_quarter_end_DE',
       'Is_quarter_start_DE', 'Is_year_end_DE', 'Is_year_start_DE',
       'Elapsed_DE', 'Max_TemperatureC', 'Mean_TemperatureC',
       'Min_TemperatureC', 'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC',
       'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Sea_Level_PressurehPa', 'Mean_Sea_Level_PressurehPa',
       'Min_Sea_Level_PressurehPa', 'Max_VisibilityKm', 'Mean_VisibilityKm',
       'Min_VisibilitykM', 'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h',
       'Max_Gust_SpeedKm_h', 'Precipitationmm', 'CloudCover', 'Events',
       'WindDirDegrees', 'StateName', 'CompetitionOpenSince',
       'CompetitionDaysOpen', 'CompetitionMonthsOpen', 'Promo2Since',
       'Promo2Days', 'Promo2Weeks', 'AfterSchoolHoliday',
       'BeforeSchoolHoliday', 'AfterStateHoliday', 'BeforeStateHoliday',
       'AfterPromo', 'BeforePromo', 'SchoolHoliday_bw', 'StateHoliday_bw',
       'Promo_bw', 'SchoolHoliday_fw', 'StateHoliday_fw', 'Promo_fw'],
      dtype='object')

93

In [138]:
joined.head().T.head(40)

,0,1,2,3,4
index,0,1,2,3,4
Store,1,2,3,4,5
DayOfWeek,5,5,5,5,5
Date,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00
Sales,5263,6064,8314,13995,4822
Customers,555,625,821,1498,559
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,False,False,False,False,False
SchoolHoliday,1,1,1,1,1
Year,2015,2015,2015,2015,2015
Month,7,7,7,7,7
Week,31,31,31,31,31
Day,31,31,31,31,31
Dayofweek,4,4,4,4,4
Dayofyear,212,212,212,212,212
Is_month_end,True,True,True,True,True
Is_month_start,False,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,False,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,False,False,False,False,False
Elapsed,1438300800,1438300800,1438300800,1438300800,1438300800
StoreType,c,a,a,c,a
Assortment,a,a,a,c,a
CompetitionDistance,1270,570,14130,620,29910
CompetitionOpenSinceMonth,9,11,12,9,4
CompetitionOpenSinceYear,2008,2007,2006,2009,2015
Promo2,0,1,1,0,0
Promo2SinceWeek,1,13,14,1,1
Promo2SinceYear,1900,2010,2011,1900,1900
PromoInterval,None,"Jan,Apr,Jul,Oct","Jan,Apr,Jul,Oct",None,None
State,HE,TH,NW,BE,SN
file,Rossmann_DE_HE,Rossmann_DE_TH,Rossmann_DE_NW,Rossmann_DE_BE,Rossmann_DE_SN
week,2015-08-02 - 2015-08-08,2015-08-02 - 2015-08-08,2015-08-02 - 2015-08-08,2015-08-02 - 2015-08-08,2015-08-02 - 2015-08-08
trend,85,80,86,74,82
file_DE,Rossmann_DE,Rossmann_DE,Rossmann_DE,Rossmann_DE,Rossmann_DE
week_DE,2015-08-02 - 2015-08-08,2015-08-02 - 2015-08-08,2015-08-02 - 2015-08-08,2015-08-02 - 2015-08-08,2015-08-02 - 2015-08-08
trend_DE,83,83,83,83,83
Date_DE,2015-08-02 00:00:00,2015-08-02 00:00:00,2015-08-02 00:00:00,2015-08-02 00:00:00,2015-08-02 00:00:00

## Categorical and Continious Features

Now that we've engineered all our features, we need to convert to input compatible with a neural network.

This includes:
+ converting categorical variables into contiguous integers or one-hot encodings
+ normalizing continuous features to standard normal
+ etc...

In [139]:
cat_vars = ['Store', 'DayOfWeek', 'Year', 'Month', 'Day', 'StateHoliday', 'CompetitionMonthsOpen',
    'Promo2Weeks', 'StoreType', 'Assortment', 'PromoInterval', 'CompetitionOpenSinceYear', 'Promo2SinceYear',
    'State', 'Week', 'Events', 'Promo_fw', 'Promo_bw', 'StateHoliday_fw', 'StateHoliday_bw',
    'SchoolHoliday_fw', 'SchoolHoliday_bw']

contin_vars = ['CompetitionDistance', 'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
   'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 'Max_Wind_SpeedKm_h', 
   'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend', 'trend_DE',
   'AfterStateHoliday', 'BeforeStateHoliday', 'Promo', 'SchoolHoliday']

# contin_vars = ['CompetitionDistance', 'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
#    'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 'Max_Wind_SpeedKm_h', 
#    'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend', 'trend_DE',
#    'Promo', 'SchoolHoliday']

n = len(joined); n

844338

## Target Variable

In [140]:
# ITSMY:

display(joined.columns)
display(len(joined.columns))

Index(['index', 'Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open',
       'Promo', 'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week',
       'Day', 'Dayofweek', 'Dayofyear', 'Is_month_end', 'Is_month_start',
       'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start',
       'Elapsed', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
       'week', 'trend', 'file_DE', 'week_DE', 'trend_DE', 'Date_DE',
       'State_DE', 'Month_DE', 'Day_DE', 'Dayofweek_DE', 'Dayofyear_DE',
       'Is_month_end_DE', 'Is_month_start_DE', 'Is_quarter_end_DE',
       'Is_quarter_start_DE', 'Is_year_end_DE', 'Is_year_start_DE',
       'Elapsed_DE', 'Max_TemperatureC', 'Mean_TemperatureC',
       'Min_TemperatureC', 'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC',
       'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Sea_Level_PressurehPa', 'Mean_Sea_Level_PressurehPa',
       'Min_Sea_Level_PressurehPa', 'Max_VisibilityKm', 'Mean_VisibilityKm',
       'Min_VisibilitykM', 'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h',
       'Max_Gust_SpeedKm_h', 'Precipitationmm', 'CloudCover', 'Events',
       'WindDirDegrees', 'StateName', 'CompetitionOpenSince',
       'CompetitionDaysOpen', 'CompetitionMonthsOpen', 'Promo2Since',
       'Promo2Days', 'Promo2Weeks', 'AfterSchoolHoliday',
       'BeforeSchoolHoliday', 'AfterStateHoliday', 'BeforeStateHoliday',
       'AfterPromo', 'BeforePromo', 'SchoolHoliday_bw', 'StateHoliday_bw',
       'Promo_bw', 'SchoolHoliday_fw', 'StateHoliday_fw', 'Promo_fw'],
      dtype='object')

93

In [141]:
dep = 'Sales'
joined = joined[cat_vars + contin_vars + [dep, 'Date']].copy()

# joined.copy()
# Make a copy of this object's indices and data.

In [142]:
# ITSMY:

display(joined.columns)
display(len(joined.columns))

Index(['Store', 'DayOfWeek', 'Year', 'Month', 'Day', 'StateHoliday',
       'CompetitionMonthsOpen', 'Promo2Weeks', 'StoreType', 'Assortment',
       'PromoInterval', 'CompetitionOpenSinceYear', 'Promo2SinceYear', 'State',
       'Week', 'Events', 'Promo_fw', 'Promo_bw', 'StateHoliday_fw',
       'StateHoliday_bw', 'SchoolHoliday_fw', 'SchoolHoliday_bw',
       'CompetitionDistance', 'Max_TemperatureC', 'Mean_TemperatureC',
       'Min_TemperatureC', 'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend',
       'trend_DE', 'AfterStateHoliday', 'BeforeStateHoliday', 'Promo',
       'SchoolHoliday', 'Sales', 'Date'],
      dtype='object')

40

In [143]:
for v in cat_vars:
    joined[v] = joined[v].astype('category').cat.as_ordered()

In [144]:
# ITSMY:

DataFrameSummary(joined).summary().T

,count,mean,std,min,25%,50%,75%,max,counts,uniques,missing,missing_perc,types
Store,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,1115,0,0%,categorical
DayOfWeek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,7,0,0%,categorical
Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,3,0,0%,categorical
Month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,12,0,0%,categorical
Day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,31,0,0%,categorical
StateHoliday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,2,0,0%,bool
CompetitionMonthsOpen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,25,0,0%,categorical
Promo2Weeks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,26,0,0%,categorical
StoreType,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,4,0,0%,categorical
Assortment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,3,0,0%,categorical
PromoInterval,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,421046,3,423292,50.13%,categorical
CompetitionOpenSinceYear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,23,0,0%,categorical
Promo2SinceYear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,8,0,0%,categorical
State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,12,0,0%,categorical
Week,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,52,0,0%,categorical
Events,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,641281,21,203057,24.05%,categorical
Promo_fw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,6,0,0%,categorical
Promo_bw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,6,0,0%,categorical
StateHoliday_fw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,3,0,0%,categorical
StateHoliday_bw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,3,0,0%,categorical
SchoolHoliday_fw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,8,0,0%,categorical
SchoolHoliday_bw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,8,0,0%,categorical
CompetitionDistance,842152,5458.16,7809.57,20,710,2320,6890,75860,842152,654,2186,0.26%,numeric
Max_TemperatureC,844338,14.4124,8.51853,-11,8,15,21,38,844338,50,0,0%,numeric
Mean_TemperatureC,844338,10.1362,7.26638,-13,4,10,16,31,844338,45,0,0%,numeric
Min_TemperatureC,844338,5.94241,6.47333,-15,1,6,11,24,844338,40,0,0%,numeric
Max_Humidity,844338,93.2571,7.72148,44,88,94,100,100,844338,50,0,0%,numeric
Mean_Humidity,844338,73.9184,13.2119,30,64,75,84,100,844338,71,0,0%,numeric
Min_Humidity,844338,49.8521,19.661,4,34,49,65,100,844338,93,0,0%,numeric
Max_Wind_SpeedKm_h,844338,22.657,9.01194,3,16,21,27,101,844338,42,0,0%,numeric
Mean_Wind_SpeedKm_h,844338,11.8471,5.93321,2,8,11,14,53,844338,27,0,0%,numeric
CloudCover,776282,5.52662,1.69148,0,5,6,7,8,776282,9,68056,8.06%,numeric
trend,844338,65.2188,11.4178,28,57,65,73,100,844338,67,0,0%,numeric
trend_DE,844338,66.2414,9.7189,50,58,66,72,100,844338,38,0,0%,numeric
AfterStateHoliday,844338,38.2568,31.0081,0,11,30,60,135,844338,136,0,0%,numeric
BeforeStateHoliday,844338,-36.4143,32.7518,-195,-59,-27,-8,0,844338,147,0,0%,numeric
Promo,844338,0.446356,0.497114,0,0,0,1,1,844338,2,0,0%,bool
SchoolHoliday,844338,0.193578,0.395102,0,0,0,0,1,844338,2,0,0%,bool
Sales,844338,6955.96,3103.82,46,4859,6369,8360,41551,844338,21733,0,0%,numeric
Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,942,0,0%,date

In [145]:
# skipped

# apply_cats(df, trn)
# Changes any columns of strings in df into categorical variables
# using trn as a template for the category codes.

# apply_cats(joined_test, joined)

In [146]:
for v in contin_vars:
    joined[v] = joined[v].fillna(0).astype('float32')
    # skipped test
    # joined_test[v] = joined_test[v].fillna(0).astype('float32')

In [147]:
# ITSMY:

DataFrameSummary(joined).summary().T

,count,mean,std,min,25%,50%,75%,max,counts,uniques,missing,missing_perc,types
Store,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,1115,0,0%,categorical
DayOfWeek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,7,0,0%,categorical
Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,3,0,0%,categorical
Month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,12,0,0%,categorical
Day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,31,0,0%,categorical
StateHoliday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,2,0,0%,bool
CompetitionMonthsOpen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,25,0,0%,categorical
Promo2Weeks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,26,0,0%,categorical
StoreType,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,4,0,0%,categorical
Assortment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,3,0,0%,categorical
PromoInterval,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,421046,3,423292,50.13%,categorical
CompetitionOpenSinceYear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,23,0,0%,categorical
Promo2SinceYear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,8,0,0%,categorical
State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,12,0,0%,categorical
Week,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,52,0,0%,categorical
Events,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,641281,21,203057,24.05%,categorical
Promo_fw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,6,0,0%,categorical
Promo_bw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,6,0,0%,categorical
StateHoliday_fw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,3,0,0%,categorical
StateHoliday_bw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,3,0,0%,categorical
SchoolHoliday_fw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,8,0,0%,categorical
SchoolHoliday_bw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,8,0,0%,categorical
CompetitionDistance,844338,5444.03,7804.39,0,700,2320,6880,75860,844338,655,0,0%,numeric
Max_TemperatureC,844338,14.4124,8.51853,-11,8,15,21,38,844338,50,0,0%,numeric
Mean_TemperatureC,844338,10.1362,7.26638,-13,4,10,16,31,844338,45,0,0%,numeric
Min_TemperatureC,844338,5.94241,6.47333,-15,1,6,11,24,844338,40,0,0%,numeric
Max_Humidity,844338,93.2571,7.72148,44,88,94,100,100,844338,50,0,0%,numeric
Mean_Humidity,844338,73.9184,13.2119,30,64,75,84,100,844338,71,0,0%,numeric
Min_Humidity,844338,49.8521,19.661,4,34,49,65,100,844338,93,0,0%,numeric
Max_Wind_SpeedKm_h,844338,22.657,9.01194,3,16,21,27,101,844338,42,0,0%,numeric
Mean_Wind_SpeedKm_h,844338,11.8471,5.93321,2,8,11,14,53,844338,27,0,0%,numeric
CloudCover,844338,5.08116,2.21223,0,4,6,7,8,844338,9,0,0%,numeric
trend,844338,65.2188,11.4178,28,57,65,73,100,844338,67,0,0%,numeric
trend_DE,844338,66.2414,9.7189,50,58,66,72,100,844338,38,0,0%,numeric
AfterStateHoliday,844338,38.2568,31.0081,0,11,30,60,135,844338,136,0,0%,numeric
BeforeStateHoliday,844338,-36.4143,32.7518,-195,-59,-27,-8,0,844338,147,0,0%,numeric
Promo,844338,0.446356,0.497114,0,0,0,1,1,844338,2,0,0%,bool
SchoolHoliday,844338,0.193578,0.395102,0,0,0,0,1,844338,2,0,0%,bool
Sales,844338,6955.96,3103.82,46,4859,6369,8360,41551,844338,21733,0,0%,numeric
Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844338,942,0,0%,date

**We're going to run on a sample.**

In [148]:
idxs = get_cv_idxs(n, val_pct=150000/n)
joined_samp = joined.iloc[idxs].set_index("Date")
samp_size = len(joined_samp)

display(samp_size)

150000

**To run on the full dataset, use this instead:**

In [149]:
samp_size = n
joined_samp = joined.set_index("Date")

**We can now process our data...**

In [150]:
joined_samp.head(2)

,Store,DayOfWeek,Year,Month,Day,StateHoliday,CompetitionMonthsOpen,Promo2Weeks,StoreType,Assortment,...,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,CloudCover,trend,trend_DE,AfterStateHoliday,BeforeStateHoliday,Promo,SchoolHoliday,Sales
Date,,,,,,,,,,,,,,,,,,,,,
2015-07-31,1,5,2015,7,31,False,24,0,c,a,...,24.0,11.0,1.0,85.0,83.0,57.0,0.0,1.0,1.0,5263
2015-07-31,2,5,2015,7,31,False,24,25,a,a,...,14.0,11.0,4.0,80.0,83.0,67.0,0.0,1.0,1.0,6064

In [151]:
df, y, nas, mapper = proc_df(joined_samp, 'Sales', do_scale=True)
yl = np.log(y)

Signature: proc_df(df, y_fld=None, skip_flds=None, ignore_flds=None, do_scale=False, na_dict=None, preproc_fn=None, max_n_cat=None, subset=None, mapper=None)
Docstring:
proc_df takes a data frame df and splits off the response variable, and
changes the df into an entirely numeric dataframe.

Parameters:
-----------
df: The data frame you wish to process.

y_fld: The name of the response variable

skip_flds: A list of fields that dropped from df.

ignore_flds: A list of fields that are ignored during processing.

do_scale: Standardizes each column in df. Takes Boolean Values(True,False)

na_dict: a dictionary of na columns to add. Na columns are also added if there
    are any missing values.

preproc_fn: A function that gets applied to df.

max_n_cat: The maximum number of categories to break into dummy values, instead
    of integer codes.

subset: Takes a random subset of size subset from df.

mapper: If do_scale is set as True, the mapper variable
    calculates the values used for scaling of variables during training time (mean and standard deviation).

Returns:
--------
[x, y, nas, mapper(optional)]:

    x: x is the transformed version of df. x will not have the response variable
        and is entirely numeric.

    y: y is the response variable

    nas: returns a dictionary of which nas it created, and the associated median.

    mapper: A DataFrameMapper which stores the mean and standard deviation of the corresponding continuous
    variables which is then used for scaling of during test-time.

In [152]:
# ITSMY:

# for i in [df, y, nas, mapper, yl]:
print('*** df ***')
display(DataFrameSummary(df).summary().T)

print('*** y ***')
display(y)

print('*** nas ***')
display(nas)

print('*** mapper ***')
display(mapper)

print('*** yl ***')
display(yl)

*** df ***

,count,mean,std,min,25%,50%,75%,max,counts,uniques,missing,missing_perc,types
Store,844338,558.421,321.731,1,280,558,837,1115,844338,1115,0,0%,numeric
DayOfWeek,844338,3.52035,1.72371,1,2,3,5,7,844338,7,0,0%,numeric
Year,844338,1.83195,0.777271,1,1,2,2,3,844338,3,0,0%,numeric
Month,844338,5.84577,3.32396,1,3,6,8,12,844338,12,0,0%,numeric
Day,844338,15.8357,8.68339,1,8,16,23,31,844338,31,0,0%,numeric
StateHoliday,844338,1.00108,0.0328117,1,1,1,1,2,844338,2,0,0%,bool
CompetitionMonthsOpen,844338,13.5337,11.4187,1,1,17,25,25,844338,25,0,0%,numeric
Promo2Weeks,844338,11.3451,12.1631,1,1,1,26,26,844338,26,0,0%,numeric
StoreType,844338,2.20544,1.36337,1,1,1,4,4,844338,4,0,0%,numeric
Assortment,844338,1.93649,0.993099,1,1,1,3,3,844338,3,0,0%,numeric
PromoInterval,844338,0.976795,1.08165,0,0,0,2,3,844338,4,0,0%,numeric
CompetitionOpenSinceYear,844338,11.833,8.23046,1,1,14,19,23,844338,23,0,0%,numeric
Promo2SinceYear,844338,2.87197,2.2133,1,1,1,5,8,844338,8,0,0%,numeric
State,844338,6.15738,3.09183,1,3,7,9,12,844338,12,0,0%,numeric
Week,844338,23.6469,14.3899,1,11,23,35,52,844338,52,0,0%,numeric
Events,844338,7.02588,6.22749,0,1,11,11,21,844338,22,0,0%,numeric
Promo_fw,844338,3.69559,1.78273,1,2,4,5,6,844338,6,0,0%,numeric
Promo_bw,844338,3.64712,1.79448,1,2,4,5,6,844338,6,0,0%,numeric
StateHoliday_fw,844338,1.16933,0.430947,1,1,1,1,3,844338,3,0,0%,numeric
StateHoliday_bw,844338,1.17659,0.437335,1,1,1,1,3,844338,3,0,0%,numeric
SchoolHoliday_fw,844338,2.18498,2.0137,1,1,1,3,8,844338,8,0,0%,numeric
SchoolHoliday_bw,844338,2.19339,2.01866,1,1,1,3,8,844338,8,0,0%,numeric
CompetitionDistance,844338,-1.92532e-07,1,-0.69756,-0.607867,-0.400291,0.183996,9.02262,844338,655,0,0%,numeric
Max_TemperatureC,844338,-8.50915e-10,1,-2.98319,-0.752755,0.068983,0.77333,2.76898,844338,50,0,0%,numeric
Mean_TemperatureC,844338,-2.15423e-09,1,-3.18401,-0.844465,-0.0187439,0.806978,2.87128,844338,45,0,0%,numeric
Min_TemperatureC,844338,3.90988e-10,1,-3.23518,-0.763504,0.00889624,0.781296,2.78954,844338,40,0,0%,numeric
Max_Humidity,844338,2.91081e-06,1,-6.37924,-0.680845,0.0962087,0.873262,0.873262,844338,50,0,0%,numeric
Mean_Humidity,844338,4.33763e-07,1,-3.32414,-0.750715,0.0818655,0.763067,1.97409,844338,71,0,0%,numeric
Min_Humidity,844338,5.99621e-08,1,-2.33214,-0.806272,-0.0433407,0.770453,2.55063,844338,93,0,0%,numeric
Max_Wind_SpeedKm_h,844338,-1.35313e-07,1,-2.18122,-0.738685,-0.183865,0.481919,8.69325,844338,42,0,0%,numeric
Mean_Wind_SpeedKm_h,844338,-6.54104e-09,1,-1.65966,-0.648402,-0.142774,0.362855,6.93603,844338,27,0,0%,numeric
CloudCover,844338,1.02461e-08,1,-2.29686,-0.488722,0.415345,0.867379,1.31941,844338,9,0,0%,numeric
trend,844338,-1.13438e-06,1,-3.25973,-0.719827,-0.0191649,0.681498,3.04623,844338,67,0,0%,numeric
trend_DE,844338,-1.7048e-06,1,-1.67111,-0.847974,-0.0248354,0.592519,3.4735,844338,38,0,0%,numeric
AfterStateHoliday,844338,1.50797e-07,1,-1.23377,-0.879022,-0.266279,0.701209,3.11993,844338,136,0,0%,numeric
BeforeStateHoliday,844338,1.10356e-07,1,-4.84206,-0.689605,0.287443,0.867565,1.11183,844338,147,0,0%,numeric
Promo,844338,8.75054e-09,1,-0.897894,-0.897894,-0.897894,1.11372,1.11372,844338,2,0,0%,bool
SchoolHoliday,844338,-1.81068e-08,1,-0.489944,-0.489944,-0.489944,-0.489944,2.04105,844338,2,0,0%,bool

*** y ***

array([ 5263,  6064,  8314, 13995,  4822,  5651, 15344,  8492,  8565,  7185, 10457,  8959,  8821,  6544,
        9191, 10231,  8430, 10071,  8234,  9593, ...,  6218, 20642,  3697,  4220,  6851, 17267,  3102,  2401,
        3139,  9643,  3113,  2646,  2907,  8498,  3821,  3375, 10765,  5035,  4491,  5961])

*** nas ***

{}

*** mapper ***

DataFrameMapper(default=False, df_out=False,
        features=[(['CompetitionDistance'], StandardScaler(copy=True, with_mean=True, with_std=True)), (['Max_TemperatureC'], StandardScaler(copy=True, with_mean=True, with_std=True)), (['Mean_TemperatureC'], StandardScaler(copy=True, with_mean=True, with_std=True)), (['Min_TemperatureC'], StandardScaler(co...rue, with_std=True)), (['SchoolHoliday'], StandardScaler(copy=True, with_mean=True, with_std=True))],
        input_df=False, sparse=False)

*** yl ***

array([8.56846, 8.71012, 9.0257 , 9.54646, 8.48094, 8.63959, 9.63848, 9.04688, 9.05544, 8.87975, 9.25503,
       9.10041, 9.08489, 8.7863 , 9.12598, 9.23318, 9.03955, 9.21742, 9.01603, 9.16879, ..., 8.7352 ,
       9.93508, 8.21528, 8.34759, 8.83215, 9.75655, 8.0398 , 7.78364, 8.05166, 9.17399, 8.04334, 7.8808 ,
       7.97488, 9.04759, 8.24827, 8.12415, 9.28406, 8.52417, 8.40983, 8.69299])

In [153]:
# skipped test
# joined_test = joined_test.set_index("Date")

In [154]:
# skipped test

# df_test, _, nas, mapper = proc_df(joined_test, 'Sales', do_scale=True, skip_flds=['Id'],
#                                   mapper=mapper, na_dict=nas)

In [155]:
df.head(2)

,Store,DayOfWeek,Year,Month,Day,StateHoliday,CompetitionMonthsOpen,Promo2Weeks,StoreType,Assortment,...,Min_Humidity,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,CloudCover,trend,trend_DE,AfterStateHoliday,BeforeStateHoliday,Promo,SchoolHoliday
Date,,,,,,,,,,,,,,,,,,,,,
2015-07-31,1,5,3,7,31,1,25,1,3,1,...,-1.620066,0.149027,-0.142774,-1.844823,1.732492,1.724334,0.604461,1.111827,1.113717,2.04105
2015-07-31,2,5,3,7,31,1,25,26,1,1,...,-1.264031,-0.960613,-0.142774,-0.488722,1.294578,1.724334,0.926957,1.111827,1.113717,2.04105

## Create Validation Set

In time series data, cross-validation is not random. Instead, our holdout data is generally the most recent data, as it would be in real application. This issue is discussed in detail in [this post](http://www.fast.ai/2017/11/13/validation-sets/) on our web site.

One approach is to take the last 25% of rows (sorted by date) as our validation set.

In [156]:
# EDITED:

train_ratio = 0.75
train_size = int(samp_size * train_ratio)
print(train_size)

val_idx = list(range(train_size, len(df)))
print(val_idx[0:10])

633253
[633253, 633254, 633255, 633256, 633257, 633258, 633259, 633260, 633261, 633262]

An even better option for picking a validation set is using the exact same length of time period as the test set uses - this is implemented here:

In [157]:
val_idx = np.flatnonzero(
    (df.index <= datetime.datetime(2014,9,17)) & (df.index >= datetime.datetime(2014,8,1)))

In [158]:
# ITSMY:

display(val_idx)
display(len(val_idx))

array([277141, 277142, 277143, 277144, 277145, 277146, 277147, 277148, 277149, 277150, 277151, 277152,
       277153, 277154, 277155, 277156, 277157, 277158, 277159, 277160, ..., 315520, 315521, 315522, 315523,
       315524, 315525, 315526, 315527, 315528, 315529, 315530, 315531, 315532, 315533, 315534, 315535,
       315536, 315537, 315538, 315539])

38399

In [159]:
# skipped
# It cleanes val_idx, so it is not useful.

# val_idx = [0]

In [160]:
# ITSMY:

display(val_idx)
display(len(val_idx))

array([277141, 277142, 277143, 277144, 277145, 277146, 277147, 277148, 277149, 277150, 277151, 277152,
       277153, 277154, 277155, 277156, 277157, 277158, 277159, 277160, ..., 315520, 315521, 315522, 315523,
       315524, 315525, 315526, 315527, 315528, 315529, 315530, 315531, 315532, 315533, 315534, 315535,
       315536, 315537, 315538, 315539])

38399

# Results of Data Processing

## Values for Training

`df` - main data frame with training data set, Pandas DataFrame

`y` - the response variable, Numpy Array

`yl = ln(y) = log(y)` - natural logarithm of `y`, Numpy Array

`val_idx` - validation indexies in data frame, Numpy Array

In [161]:
df.columns

Index(['Store', 'DayOfWeek', 'Year', 'Month', 'Day', 'StateHoliday',
       'CompetitionMonthsOpen', 'Promo2Weeks', 'StoreType', 'Assortment',
       'PromoInterval', 'CompetitionOpenSinceYear', 'Promo2SinceYear', 'State',
       'Week', 'Events', 'Promo_fw', 'Promo_bw', 'StateHoliday_fw',
       'StateHoliday_bw', 'SchoolHoliday_fw', 'SchoolHoliday_bw',
       'CompetitionDistance', 'Max_TemperatureC', 'Mean_TemperatureC',
       'Min_TemperatureC', 'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend',
       'trend_DE', 'AfterStateHoliday', 'BeforeStateHoliday', 'Promo',
       'SchoolHoliday'],
      dtype='object')

In [162]:
len(df.columns)

38

In [163]:
for c in df.columns:
    print(c)

Store
DayOfWeek
Year
Month
Day
StateHoliday
CompetitionMonthsOpen
Promo2Weeks
StoreType
Assortment
PromoInterval
CompetitionOpenSinceYear
Promo2SinceYear
State
Week
Events
Promo_fw
Promo_bw
StateHoliday_fw
StateHoliday_bw
SchoolHoliday_fw
SchoolHoliday_bw
CompetitionDistance
Max_TemperatureC
Mean_TemperatureC
Min_TemperatureC
Max_Humidity
Mean_Humidity
Min_Humidity
Max_Wind_SpeedKm_h
Mean_Wind_SpeedKm_h
CloudCover
trend
trend_DE
AfterStateHoliday
BeforeStateHoliday
Promo
SchoolHoliday

## Original Columns

**train.csv**
* Store
* DayOfWeek
* Promo
* StateHoliday
* SchoolHoliday

**Date, from train.csv/Date**
* Year
* Month
* Day
* Week

**train.csv, excluded**
* Date
* Sales
* Customers
* Open

**store.csv**
* StoreType
* Assortment
* CompetitionDistance
* CompetitionOpenSinceYear
* Promo2SinceYear
* PromoInterval

**store.csv, probably renamed**
* CompetitionMonthsOpen
* Promo2Weeks

**store.csv, excluded**
* CompetitionOpenSinceMonth
* Promo2
* Promo2SinceWeek

## New Date Features

**After and Before**
* AfterStateHoliday
* BeforeStateHoliday

**Rolling: Backward and Forward**
* Promo_fw
* Promo_bw
* StateHoliday_fw
* StateHoliday_bw
* SchoolHoliday_fw
* SchoolHoliday_bw

## Weather

**weather.csv**
* Max_TemperatureC
* Mean_TemperatureC
* Min_TemperatureC

* Max_Humidity
* Mean_Humidity
* Min_Humidity

* Max_Wind_SpeedKm_h
* Mean_Wind_SpeedKm_h
* CloudCover

* Events


**weather.csv, excluded**
* Dew_PointC
* MeanDew_PointC
* Min_DewpointC
* Max_Sea_Level_PressurehPa
* Max_Sea_Level_PressurehPa
* Mean_Sea_Level_PressurehPa
* Min_Sea_Level_PressurehPa
* Max_VisibilityKm
* Mean_VisibilityKm
* Min_VisibilitykM
* Max_Gust_SpeedKm_h
* Precipitationmm
* WindDirDegrees

## Google Trends

**googletrend.csv**
* trend - per state
* trend_DE - international

## States

**store_states.csv**
* State

## Questions

* Why is there no `After` and `Before` durations for the `SchoolHoliday` column? But it calculated for the `StateHoliday` column.
* What is about `Promo2` column?
* Why was the `Customers` column skipped?
* Why were many weather columns skipped?
* Why were other columns also skipped, like `Is_month_end`? Full list of columns: `joined.columns`, stage "Create features"

## Column "Open"

**Durations for Train / Remove Zero Sales and Closed Stores**

The authors also removed all instances where the store had zero sale / was closed. We speculate that this may have cost them a higher standing in the competition.

One reason this may be the case is that a little exploratory data analysis reveals that there are often periods where stores are closed, typically for refurbishment. Before and after these periods, there are naturally spikes in sales that one might expect. By ommitting this data from their training, the authors gave up the ability to leverage information about these periods to predict this otherwise volatile behavior.

# Deep Learning

We're ready to put together our models.

Root-mean-squared percent error is the metric Kaggle used for this competition.

In [ ]:
def inv_y(a): return np.exp(a)

def exp_rmspe(y_pred, targ):
    targ = inv_y(targ)
    pct_var = (targ - inv_y(y_pred))/targ
    return math.sqrt((pct_var**2).mean())

max_log_y = np.max(yl)
y_range = (0, max_log_y*1.2)

In [ ]:
# ITSMY:

print(max_log_y)
print(y_range)

We can create a ModelData object directly from out data frame.

In [ ]:
# md = ColumnarModelData.from_data_frame(PATH, val_idx, df, yl.astype(np.float32), cat_flds=cat_vars, bs=128,
#                                        test_df=df_test)

md = ColumnarModelData.from_data_frame(PATH, val_idx, df, yl.astype(np.float32), cat_flds=cat_vars, bs=128)

Signature: ColumnarModelData.from_data_frame(path, val_idxs, df, y, cat_flds, bs=64, is_reg=True, is_multi=False, test_df=None, shuffle=True)

**Some categorical variables have a lot more levels than others. Store, in particular, has over a thousand!**

In [ ]:
cat_sz = [(c, len(joined_samp[c].cat.categories)+1) for c in cat_vars]

In [ ]:
cat_sz

**Embeddings**

We use the *cardinality* of each variable (that is, its number of unique values) to decide how large to make its *embeddings*. Each level will be associated with a vector with length defined as below.

In [ ]:
emb_szs = [(c, min(50, (c+1)//2)) for _,c in cat_sz]

In [ ]:
emb_szs

In [ ]:
m = md.get_learner(emb_szs, len(df.columns)-len(cat_vars),
                   0.04, 1, [1000,500], [0.001,0.01], y_range=y_range)
lr = 1e-3

In [ ]:
m.lr_find()

In [ ]:
m.sched.plot(100)

## > Sample

In [ ]:
m = md.get_learner(emb_szs, len(df.columns)-len(cat_vars),
                   0.04, 1, [1000,500], [0.001,0.01], y_range=y_range)
lr = 1e-3

In [ ]:
m.fit(lr, 3, metrics=[exp_rmspe])

In [ ]:
m.fit(lr, 5, metrics=[exp_rmspe], cycle_len=1)

In [ ]:
m.fit(lr, 2, metrics=[exp_rmspe], cycle_len=4)

## All

In [ ]:
m = md.get_learner(emb_szs, len(df.columns)-len(cat_vars),
                   0.04, 1, [1000,500], [0.001,0.01], y_range=y_range)
lr = 1e-3

In [ ]:
m.fit(lr, 1, metrics=[exp_rmspe])

In [ ]:
m.fit(lr, 3, metrics=[exp_rmspe])

In [ ]:
m.fit(lr, 3, metrics=[exp_rmspe], cycle_len=1)

## ? Make Infering for Test Set

In [ ]:
m = md.get_learner(emb_szs, len(df.columns)-len(cat_vars),
                   0.04, 1, [1000,500], [0.001,0.01], y_range=y_range)
lr = 1e-3

In [ ]:
m.fit(lr, 3, metrics=[exp_rmspe])

In [ ]:
m.fit(lr, 3, metrics=[exp_rmspe], cycle_len=1)

In [ ]:
# ITSMY:

m.save('lesson3_test')

In [ ]:
# ITSMY:

m.load('lesson3_test')

In [ ]:
m.save('val0')

In [ ]:
m.load('val0')

In [ ]:
x, y = m.predict_with_targs()

In [ ]:
exp_rmspe(x,y)

In [ ]:
pred_test = m.predict(True)

In [ ]:
pred_test = np.exp(pred_test)

In [ ]:
joined_test['Sales'] = pred_test

In [ ]:
csv_fn = f'{PATH}tmp/sub.csv'

In [ ]:
joined_test[['Id','Sales']].to_csv(csv_fn, index=False)

In [ ]:
FileLink(csv_fn)

## Result (ITSMY)

I sent this file to the competitions (Late Submission).

+ Private score = 0.20456
+ Public score = 0.11109

# Random Forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
((val,trn), (y_val,y_trn)) = split_by_idx(val_idx, df.values, yl)

In [ ]:
m = RandomForestRegressor(n_estimators=40, max_features=0.99, min_samples_leaf=2,
                          n_jobs=-1, oob_score=True)
m.fit(trn, y_trn);

In [ ]:
preds = m.predict(val)
m.score(trn, y_trn), m.score(val, y_val), m.oob_score_, exp_rmspe(preds, y_val)

In [ ]:
# ITSMY:

m.save('lesson3_rf')