# Lesson 3 - Rossmann, understand input data

https://www.kaggle.com/c/rossmann-store-sales

In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
from fastai.structured import *
from fastai.column_data import *
np.set_printoptions(threshold=50, edgeitems=20)

PATH='data/rossmann/'
PATH_O='data/rossmann/original/'
PATH_A='data/rossmann/additional/'

In [32]:
pd.__version__

'0.23.3'

# Original Files

In [65]:
!ls {PATH_O}

sample_submission.csv	   store.csv	  test.csv	train.csv
sample_submission.csv.zip  store.csv.zip  test.csv.zip	train.csv.zip

In [66]:
table_names = ['train', 'store', 'test', 'sample_submission']

## `train.csv`

In [5]:
train = pd.read_csv(f'{PATH_O}{table_names[0]}.csv', low_memory=False)

In [6]:
print(type(train))
print(train.shape)

<class 'pandas.core.frame.DataFrame'>
(1017209, 9)

In [7]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [8]:
DataFrameSummary(train).summary()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
count,1.01721e+06,1.01721e+06,NaN,1.01721e+06,1.01721e+06,1.01721e+06,1.01721e+06,NaN,1.01721e+06
mean,558.43,3.99834,NaN,5773.82,633.146,0.830107,0.381515,NaN,0.178647
std,321.909,1.99739,NaN,3849.93,464.412,0.375539,0.485759,NaN,0.383056
min,1,1,NaN,0,0,0,0,NaN,0
25%,280,2,NaN,3727,405,1,0,NaN,0
50%,558,4,NaN,5744,609,1,0,NaN,0
75%,838,6,NaN,7856,837,1,1,NaN,0
max,1115,7,NaN,41551,7388,1,1,NaN,1
counts,1017209,1017209,1017209,1017209,1017209,1017209,1017209,1017209,1017209
uniques,1115,7,942,21734,4086,2,2,4,2
missing,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,numeric,numeric,categorical,numeric,numeric,bool,bool,categorical,bool

## `store.csv`

In [9]:
store = pd.read_csv(f'{PATH_O}{table_names[1]}.csv', low_memory=False)

In [10]:
print(type(store))
print(store.shape)

<class 'pandas.core.frame.DataFrame'>
(1115, 10)

In [11]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [12]:
DataFrameSummary(store).summary()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
count,1115,NaN,NaN,1112,761,761,1115,571,571,NaN
mean,558,NaN,NaN,5404.9,7.2247,2008.67,0.512108,23.5954,2011.76,NaN
std,322.017,NaN,NaN,7663.17,3.21235,6.19598,0.500078,14.142,1.67494,NaN
min,1,NaN,NaN,20,1,1900,0,1,2009,NaN
25%,279.5,NaN,NaN,717.5,4,2006,0,13,2011,NaN
50%,558,NaN,NaN,2325,8,2010,1,22,2012,NaN
75%,836.5,NaN,NaN,6882.5,10,2013,1,37,2013,NaN
max,1115,NaN,NaN,75860,12,2015,1,50,2015,NaN
counts,1115,1115,1115,1112,761,761,1115,571,571,571
uniques,1115,4,3,654,12,23,2,24,7,3
missing,0,0,0,3,354,354,0,544,544,544
missing_perc,0%,0%,0%,0.27%,31.75%,31.75%,0%,48.79%,48.79%,48.79%
types,numeric,categorical,categorical,numeric,numeric,numeric,bool,numeric,numeric,categorical

## `test.csv`

In [19]:
test = pd.read_csv(f'{PATH_O}{table_names[2]}.csv', low_memory=False)

In [20]:
print(type(test))
print(test.shape)

<class 'pandas.core.frame.DataFrame'>
(41088, 8)

In [25]:
test.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [22]:
DataFrameSummary(test).summary()

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
count,41088,41088,41088,NaN,41077,41088,NaN,41088
mean,20544.5,555.9,3.97917,NaN,0.854322,0.395833,NaN,0.443487
std,11861.2,320.274,2.01548,NaN,0.352787,0.489035,NaN,0.496802
min,1,1,1,NaN,0,0,NaN,0
25%,10272.8,279.75,2,NaN,1,0,NaN,0
50%,20544.5,553.5,4,NaN,1,0,NaN,0
75%,30816.2,832.25,6,NaN,1,1,NaN,1
max,41088,1115,7,NaN,1,1,NaN,1
counts,41088,41088,41088,41088,41077,41088,41088,41088
uniques,41088,856,7,48,2,2,2,2
missing,0,0,0,0,11,0,0,0
missing_perc,0%,0%,0%,0%,0.03%,0%,0%,0%
types,numeric,numeric,numeric,categorical,bool,bool,bool,bool

## `sample_submission.csv`

In [23]:
sample_submission = pd.read_csv(f'{PATH_O}{table_names[3]}.csv', low_memory=False)

In [24]:
print(type(sample_submission))
print(sample_submission.shape)

<class 'pandas.core.frame.DataFrame'>
(41088, 2)

In [26]:
sample_submission.head()

   Id  Sales
0   1      0
1   2      0
2   3      0
3   4      0
4   5      0

In [27]:
DataFrameSummary(sample_submission).summary()

                   Id     Sales
count           41088     41088
mean          20544.5         0
std           11861.2         0
min                 1         0
25%           10272.8         0
50%           20544.5         0
75%           30816.2         0
max             41088         0
counts          41088     41088
uniques         41088         1
missing             0         0
missing_perc       0%        0%
types         numeric  constant

## Conclusion

### Training Date Range

In [36]:
train.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday'],
      dtype='object')

In [38]:
train['Date'] = pd.to_datetime(train.Date)

In [45]:
pd.unique(train['Date']).shape

(942,)

In [52]:
unique_dates = sorted(pd.unique(train['Date']))

In [54]:
print(unique_dates[0])
print(unique_dates[-1])

2013-01-01T00:00:00.000000000
2015-07-31T00:00:00.000000000

### Testing Date Range

In [55]:
test.columns

Index(['Id', 'Store', 'DayOfWeek', 'Date', 'Open', 'Promo', 'StateHoliday',
       'SchoolHoliday'],
      dtype='object')

In [56]:
test['Date'] = pd.to_datetime(test.Date)

In [63]:
print(pd.unique(test['Date']).shape)
print(pd.unique(test['Date']).shape[0] / 7)

(48,)
6.857142857142857

In [60]:
unique_testing_dates = sorted(pd.unique(test['Date']))

In [61]:
print(unique_testing_dates[0])
print(unique_testing_dates[-1])

2015-08-01T00:00:00.000000000
2015-09-17T00:00:00.000000000

# Additional Data

In [64]:
!ls {PATH_A}

googletrend.csv  state_names.csv  store_states.csv  weather.csv

In [71]:
additionsl_table_names = ['googletrend', 'state_names', 'store_states', 'weather']

## `googletrend.csv`

In [72]:
googletrend = pd.read_csv(f'{PATH_A}{additionsl_table_names[0]}.csv', low_memory=False)

In [73]:
print(type(googletrend))
print(googletrend.shape)

<class 'pandas.core.frame.DataFrame'>
(2072, 3)

In [74]:
googletrend.head()

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

In [75]:
DataFrameSummary(googletrend).summary()

                     file         week    trend
count                 NaN          NaN     2072
mean                  NaN          NaN  63.8142
std                   NaN          NaN  12.6502
min                   NaN          NaN        0
25%                   NaN          NaN       55
50%                   NaN          NaN       64
75%                   NaN          NaN       72
max                   NaN          NaN      100
counts               2072         2072     2072
uniques                14          148       68
missing                 0            0        0
missing_perc           0%           0%       0%
types         categorical  categorical  numeric

## `state_names.csv`